In [20]:
import json
import pandas as pd

# Prepare the dataframe from the json files

In [21]:
with open('../data/techs.json') as f:
    data = json.load(f)['data']

    techs = (pd.DataFrame(data)
             .drop(columns=['createdAt', 'updatedAt', '__v'])
             .rename(columns={
                 'title': 'techTitle',
                 '_id': 'techId'
             }))
    print(techs.shape)

(14, 2)

In [22]:
techs.head()

                     techId         techTitle
0  60fc4cd7c653fa3fc0c91839     Deep Learning
1  60fc4ce9c653fa3fc0c9183a  Machine Learning
2  60fc4cfbc653fa3fc0c9183b       Development
3  60fc6fc9b896f005c23cc1df   Computer Vision
4  60fc702cb896f005c23cc1e0               NLP

In [23]:
with open('../data/domains.json') as f:
    data = json.load(f)['data']

    domains = (pd.DataFrame(data)
             .drop(columns=['createdAt', 'updatedAt', '__v'])
             .rename(columns={
                 'title': 'domainTitle',
                 '_id': 'domainId'
             }))
    print(domains.shape)

(147, 3)

In [24]:
domains.head()

                   domainId           domainTitle                    techId
0  60fc4dfb800c562a083bc616  Traffic Surveillance  60fc4cd7c653fa3fc0c91839
1  60fc4dfb800c562a083bc618             Warehouse  60fc4cd7c653fa3fc0c91839
2  60fc4dfb800c562a083bc619               Banking  60fc4cd7c653fa3fc0c91839
3  60fc4dfb800c562a083bc61a               Finance  60fc4cd7c653fa3fc0c91839
4  60fc4dfb800c562a083bc61c             Insurance  60fc4cd7c653fa3fc0c91839

In [25]:
with open('../data/projects.json') as f:
    data = json.load(f)['data']

    projects = (pd.DataFrame(data)
             .drop(columns=['createdAt', 'updatedAt', '__v'])
             .rename(columns={
                 'title': 'projectTitle',
                 '_id': 'projectId'
             }))
    print(projects.shape)

(430, 5)

In [26]:
projects.head()

,projectId,projectTitle,domainId,link,difficulty
0,60fc506dd4f27b1e4492fb94,Human Action Recognition,60fc4dfb800c562a083bc617,https://drive.google.com/file/d/1vnq-YmAsd5vMF...,intermediate
1,60fc506dd4f27b1e4492fb96,Banking Documentation Validation and account c...,60fc4dfb800c562a083bc619,https://drive.google.com/file/d/1ootwYU6rKfqUq...,intermediate
2,60fc506dd4f27b1e4492fb98,Vehicle Number Plate Detection,60fc4dfb800c562a083bc616,https://drive.google.com/file/d/193mAf7R2yxycT...,intermediate
3,60fc506dd4f27b1e4492fb9a,Credit risk analysis for an individual customer,60fc4dfb800c562a083bc61a,https://drive.google.com/file/d/17xMth8SfWM3g6...,intermediate
4,60fc506dd4f27b1e4492fb9c,Traffic Jam Detection,60fc4dfb800c562a083bc61b,https://drive.google.com/file/d/1tDyX0SMPK_aMt...,intermediate

# Observations :

1. Each DataFrame's row contains its own unique `_id`.
2. These df are linked by `_id` of different rows of different dfs.
    > projects > domains > techs
3. Need to `merge` all the dfs by corresponding `_id` column of dfs.

In [27]:
final_df = (techs.merge(domains, on='techId')
                 .merge(projects, on='domainId'))

In [28]:
# Export the final_df > csv file
final_df.to_csv('../data/final_df.csv', index=False)